In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
dg_train=pd.read_csv('train.csv')

In [3]:
dg_train.head()

,ID,Score,col1,col2,col3,col4,col5,col6,col7,col8,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
0,5,3.475628,0,4.058,0.824,0,10.267,0.728,4.403,0.050,...,1.067,0,0.0,0.115,30.395,24.541,0,0.415,0.997,0
1,8,3.601332,0,4.111,0.929,0,8.352,0.907,4.216,0.034,...,0.934,0,0.0,0.227,38.508,35.038,0,3.979,0.997,3
2,9,1.935003,0,4.139,0.833,66,9.494,0.733,4.069,0.267,...,1.722,0,0.0,0.148,27.932,19.518,0,0.849,0.999,0
3,12,3.283663,0,4.016,0.880,0,8.237,0.836,3.956,0.129,...,0.993,0,0.0,0.124,18.993,25.403,0,0.988,0.998,0
4,14,3.409121,0,4.657,0.522,0,35.882,0.383,4.234,-0.089,...,2.095,0,0.0,0.088,44.225,15.741,0,1.595,0.997,0

In [4]:
dg_train["ID"].value_counts()

4094     1
4743     1
645      1
2692     1
12931    1
        ..
3371     1
1322     1
7465     1
19747    1
2049     1
Name: ID, Length: 13731, dtype: int64

In [5]:
dg_test=pd.read_csv("test.csv")
dg_test.head()

,ID,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
0,1,0,4.059,0.630,0,3.246,0.568,4.378,0.006,11,...,0.660,0,0.0,0.111,0.000,10.120,0,2.510,0.998,0
1,2,0,3.769,0.811,10,1.772,0.754,4.239,0.029,5,...,0.872,0,0.0,0.143,15.716,15.183,0,1.257,0.997,0
2,3,0,4.685,0.803,0,24.748,0.779,3.976,0.093,23,...,1.719,0,0.0,0.114,72.896,33.939,0,2.911,0.998,0
3,4,0,4.358,0.815,0,27.402,0.635,4.736,0.057,13,...,1.382,0,0.0,0.098,29.938,25.532,0,4.687,0.997,3
4,6,0,4.010,0.785,3,6.141,0.612,4.429,-0.198,5,...,1.017,0,0.0,0.115,5.108,15.347,0,3.102,0.997,1

In [6]:
dg_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13731 entries, 0 to 13730
Columns: 3807 entries, ID to col3805
dtypes: float64(2341), int64(1466)
memory usage: 398.8 MB

In [7]:
dg_train.describe()

,ID,Score,col1,col2,col3,col4,col5,col6,col7,col8,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
count,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,...,13731.000000,13731.000000,1.373100e+04,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000
mean,13715.888428,2.024839,0.000583,4.173750,0.718538,7.142816,12.532379,0.603704,4.345228,0.052560,...,1.215428,0.106329,2.184837e-07,0.115421,25.719365,19.682047,0.014347,1.879396,0.997325,1.035831
std,7891.540358,0.923629,0.026981,0.268635,0.118122,26.261926,9.907825,0.169981,0.281740,0.136567,...,0.443918,0.320774,1.478012e-05,0.033461,28.326643,9.833533,0.118921,1.520451,0.000822,1.755988
min,5.000000,-1.000000,0.000000,2.955000,0.386000,0.000000,0.000000,0.106000,3.457000,-0.399000,...,0.045000,0.000000,0.000000e+00,0.049000,0.000000,4.039000,0.000000,-2.055000,0.991000,0.000000
25%,6908.500000,1.378398,0.000000,3.994500,0.628000,0.000000,4.821500,0.463000,4.101000,-0.048000,...,0.910000,0.000000,0.000000e+00,0.093000,1.798500,12.817500,0.000000,0.797000,0.997000,0.000000
50%,13686.000000,2.034227,0.000000,4.184000,0.725000,0.000000,10.626000,0.606000,4.344000,0.037000,...,1.181000,0.000000,0.000000e+00,0.109000,18.147000,17.383000,0.000000,1.651000,0.997000,0.000000
75%,20528.000000,2.659013,0.000000,4.374000,0.809000,4.000000,18.507500,0.741000,4.582000,0.143000,...,1.476000,0.000000,0.000000e+00,0.130000,39.595500,24.082000,0.000000,2.763500,0.998000,2.000000
max,27463.000000,4.673205,2.000000,4.893000,0.958000,525.000000,72.823000,0.949000,5.099000,0.561000,...,3.785000,2.000000,1.000000e-03,0.505000,254.304000,70.825000,1.000000,11.219000,0.999000,13.000000

In [8]:
#sns.distplot(dg_train['Score'])

In [9]:
#correlation matrix
#f, ax=plt.subplots(figsize=(15,12))
#sns.heatmap(dg_train.corr(),vmax=0.8,square=True)

In [10]:
#Saleprice correlation matrix
#k=200
#cols=dg_train.corr().nlargest(k,'Score')['Score'].index
#cm=np.corrcoef(dg_train[cols].values.T)
#sns.set(font_scale=1.25)
#sns.heatmap(cm,cbar=True,annot=True,square=True,fmt='.2f',annot_kws={'size':10},
#            yticklabels=cols.values,xticklabels=cols.values)

In [11]:
id_train=dg_train["ID"].values
id_test=dg_test["ID"].values
score_train=dg_train["Score"].values

del dg_train["ID"]
del dg_train["Score"]
del dg_test["ID"]
dg_train.head()
dg_test.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
0,0,4.059,0.630,0,3.246,0.568,4.378,0.006,11,28.335,...,0.660,0,0.0,0.111,0.000,10.120,0,2.510,0.998,0
1,0,3.769,0.811,10,1.772,0.754,4.239,0.029,5,31.536,...,0.872,0,0.0,0.143,15.716,15.183,0,1.257,0.997,0
2,0,4.685,0.803,0,24.748,0.779,3.976,0.093,23,48.506,...,1.719,0,0.0,0.114,72.896,33.939,0,2.911,0.998,0
3,0,4.358,0.815,0,27.402,0.635,4.736,0.057,13,41.048,...,1.382,0,0.0,0.098,29.938,25.532,0,4.687,0.997,3
4,0,4.010,0.785,3,6.141,0.612,4.429,-0.198,5,32.144,...,1.017,0,0.0,0.115,5.108,15.347,0,3.102,0.997,1

In [12]:
#np.shape(pca.explained_variance_ratio_)

In [13]:
#z-score 标准化
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler().fit(dg_train)#标准化的mean var
print(scaler)
print(scaler.mean_)
print(scaler.var_)
dg_scaled_train=scaler.transform(dg_train)#标准化结果向量
print(dg_scaled_train)
np.shape(dg_scaled_train)

StandardScaler(copy=True, with_mean=True, with_std=True)
[5.82623261e-04 4.17374998e+00 7.18538490e-01 ... 1.87939626e+00
 9.97324521e-01 1.03583133e+00]
[7.27939627e-04 7.21597472e-02 1.39518638e-02 ... 2.31160294e+00
 6.76420780e-07 3.08326932e+00]
[[-0.02159435 -0.43089696  0.8928487  ... -0.96316788 -0.39457952
  -0.58990668]
 [-0.02159435 -0.23359638  1.78179021 ...  1.38095879 -0.39457952
   1.11859545]
 [-0.02159435 -0.12936211  0.96904369 ... -0.67771587  2.03718504
  -0.58990668]
 ...
 [-0.02159435  1.25174197  0.83358594 ...  0.55025397  0.82130276
  -0.58990668]
 [-0.02159435  1.17728892 -0.25007609 ... -1.39923858  0.82130276
  -0.58990668]
 [-0.02159435 -0.48301409 -0.45326272 ...  0.18061334 -0.39457952
  -0.58990668]]

(13731, 3805)

In [14]:
dg_scaled_test=scaler.transform(dg_test)
print(dg_scaled_test)
np.shape(dg_scaled_test)#相同标准 标准化测试集

[[-0.02159435 -0.42717431 -0.74957655 ...  0.41476292  0.82130276
  -0.58990668]
 [-0.02159435 -1.50674353  0.78278928 ... -0.40936467 -0.39457952
  -0.58990668]
 [-0.02159435  1.90320616  0.7150604  ...  0.67851006  0.82130276
  -0.58990668]
 ...
 [-0.02159435 -1.04513462  1.66326468 ... -1.17561258 -0.39457952
  -0.58990668]
 [-0.02159435  0.41042251 -0.65644935 ... -0.00815331 -0.39457952
  -0.58990668]
 [-0.02159435 -0.73987712  0.12243273 ... -0.52512401  0.82130276
  -0.58990668]]

(13732, 3805)

In [39]:
#PCA
from sklearn.decomposition import PCA

pca=PCA(n_components=0.99)
dg_pca_train=pca.fit_transform(dg_scaled_train)
dg_pca_test=pca.transform(dg_scaled_test)
pca.explained_variance_ratio_
print(dg_pca_train)
print(dg_pca_test)

np.shape(pca.explained_variance_ratio_)

[[ 8.27629482e+00 -2.57845902e+00 -1.95084016e+01 ... -1.81379506e-01
  -1.90469129e-01  9.03498800e-02]
 [ 3.74725634e+00  2.10217742e+00 -6.10753175e+00 ...  4.12015349e-01
   3.37950597e-01  3.24699100e-01]
 [ 1.50567659e+01  1.44717997e+01  3.65952037e+01 ...  1.40771864e-01
  -3.45042498e-02 -1.77013895e-01]
 ...
 [-7.78626271e+01  2.01052829e+01 -3.23538531e+00 ...  1.12824713e+00
  -5.59874541e-01 -1.33770581e+00]
 [-5.67909243e+01  7.43761978e+00 -1.83480722e+01 ... -1.00171861e-01
   9.58646860e-02 -5.90337407e-01]
 [ 1.56731293e+01 -5.05670310e+00 -1.02538735e+01 ... -5.65007385e-01
   5.50476211e-02  2.64267603e-01]]
[[ 31.03612789 -12.99671172   2.97778711 ...   0.09032035   0.18109167
    0.25427694]
 [ 29.37116645  18.15419192  -4.04591218 ...  -0.45173347  -0.22770749
    0.3786989 ]
 [-51.70262778 -24.38801033  12.61312487 ...  -0.38035885   0.1986701
    0.48201991]
 ...
 [ 19.3432835   18.35050375   5.17032821 ...  -0.27406581  -0.11468793
    0.49480581]
 [-22.65885482   4.03339317 -19.07436642 ...  -0.31108773  -0.07244119
    0.29363262]
 [ -5.33668727  28.75487737 -12.29203291 ...   0.45299244   1.11414913
   -0.28854554]]

(941,)

In [16]:
# from sklearn.manifold import TSNE

# tsne = TSNE(n_components=2)
# dg_tsne_train=tsne.fit_transform(dg_pca_train)
# pritn(dg_tsne_train)

In [40]:
#导出数据集到本地
submission_pcatrain=pd.DataFrame(dg_pca_train)
submission_pcatrain.head()
submission_pcatrain.to_csv('dg_pca_train.csv',index=False)

submission_pcatest=pd.DataFrame(dg_pca_test)
submission_pcatest.head()
submission_pcatest.to_csv('dg_pca_test.csv',index=False)

In [46]:
submission_id_test=pd.DataFrame(id_test)
submission_id_test.head()
submission_id_test.to_csv('id_test.csv',index=False)

submission_id_train=pd.DataFrame(id_train)
submission_id_train.head()
submission_id_train.to_csv('id_train.csv',index=False)

submission_score_train=pd.DataFrame(score_train)
submission_score_train.head()
submission_score_train.to_csv('score_train.csv',index=False)

# 数据集制作完成

处理后的原训练集 特征数据：dg_pca_train<br />
处理后的原训练集合 得分数据：score_train<br />
处理后的测试集合：dg_pca_test<br />
测试集序号：id_test<br />

在dg_pca_train中继续划分数据<br />
X_train：0.8比例的原训练集特征 用作训练和验证<br />
X_test：0.2比例的原训练集特征 用作测试（模型选择）<br />
y_train：0.8比例的原训练集分数 对应X_train<br />
y_test：0.2比例的原训练集分数 对应X_test<br />

In [47]:
#读取本地数据集
dg_pca_train=pd.read_csv('dg_pca_train.csv').values
dg_pca_test=pd.read_csv('dg_pca_test.csv').values

id_test=pd.read_csv('id_test.csv').values
id_train=pd.read_csv('id_train.csv').values
score_train=pd.read_csv('score_train.csv').values

In [51]:
score_train

array([[3.475628],
       [3.601332],
       [1.935003],
       ...,
       [4.008115],
       [0.255273],
       [2.321184]])

In [17]:
from sklearn.model_selection import KFold
from sklearn import svm
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import learning_curve
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import explained_variance_score 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [52]:
X_train, X_test, y_train, y_test = train_test_split(dg_pca_train, score_train, test_size=0.2, random_state=24)
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((10984, 941), (10984, 1), (2747, 941), (2747, 1))

In [1]:
X_test

NameError: name 'X_test' is not defined

In [19]:
# #SVR
# svc=svm.SVR(kernel='rbf',C=10,gamma=0.001)
# scores = cross_val_score(svc, X_train, y_train,scoring='r2')
# print(scores)  
# print("Accuary: %0.2f(+/-%0.2f)" % (scores.mean(),scores.std()*2))

In [29]:
#随机森林模型
svcRF=RandomForestRegressor(n_estimators=300)
svcRF.fit(X_train,y_train)
print(svcRF.score(X_test,y_test))

0.5221925320557665

In [54]:
print(svcRF.score(X_test,y_test))

0.3619639542577069

In [21]:
#svm回归模型
svc=svm.SVR(kernel='rbf',C=10,gamma=0.001)
#训练模型
svc.fit(X_train,y_train)
#得到分数
print(svc.score(X_test,y_test))

0.5221925320557665

In [55]:
#在独立测试集上预测数据
svc_predict=svc.predict(dg_pca_test)
print(svc_predict)
np.shape(svc_predict)

[1.03728541 2.37499151 2.36230467 ... 2.17175944 2.34333062 2.23260882]

(13732,)

In [23]:
#生成文件
submission_df=pd.DataFrame(data={'Id':id_test,'SalePrice':svc_predict})
submission_df.head()
submission_df.to_csv('baseline.csv',header=False,index=False)

In [24]:
# #调参数
# param_g=[{"C": [1e0, 1e1, 1e2, 1e3],"gamma": np.logspace(-2, 2, 5)}]
# scores_g=['r2']
# for score in scores_g:
#     print(score)
#     clf=GridSearchCV(svm.SVR(),param_grid=param_g,cv=3,scoring=score)
#     clf.fit(X_train,y_train)
    
#     print(clf.best_estimator_)
    
#     for params,mean_score,scores_g in clf.grid_scores_:
#         print("%0.3f(+/-%0.03f) for %r"%(mean_score,score.std()/2,params))

In [33]:
#保存模型
import joblib
joblib.dump(svc, 'SVR.pickle')
joblib.dump(svcRF, 'svcRF.pickle')
#载入模型
svc = joblib.load('SVR.pickle')
svcRF = joblib.load('svcRF.pickle')